.container{
   height: 100vh; /* Full viewport height */
   width: 100vw;
   background:
    radial-gradient(circle at 15% 10%, rgba(255, 215, 120, 0.7), transparent 55%),
    radial-gradient(circle at 85% 5%, rgba(255, 170, 120, 0.6), transparent 55%),
    radial-gradient(circle at 85% 90%, rgba(245, 160, 185, 0.55), transparent 60%),
    linear-gradient(to bottom, #ffcbb0 0%, #fff0eb 100%);
}

.logoContainer{
  position: absolute;
  top: 40px;
  left:40px;
  padding: 0;
}

.logo {
  position: static; 
  width: 130px;
  height: auto;
  z-index: 10; /* Ensure logo is above other elements */
}

.signupCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 24rem;


  background: rgba(255, 255, 255, 0.3);
  border-radius: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;   /* horizontally centered */
}

.signupTitle {
  margin-top: 2rem;
  margin-bottom: 1rem;

  text-align: center;
  font-size: 2.6rem;
  color: #ff7e69;
  font-family: 'Lily Script One', cursive;
}

.signupWord {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1.1rem;
  text-align: center;
  font-family: 'Georgia', sans-serif;
  color: #000000;
}

.signupForm {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 88%;
  height: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;

  border: none;
  border-radius: 0.5rem;

  background-color: #ffffff7d;
  font-size: 1rem;
  font-family: 'Georgia', sans-serif;
  color: #ff7e69;
}

.input::placeholder {
  color: #918f8f;
}

.signup_signupButton {
  width: 92%;
  height: 2.5rem;
  padding: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  background-color: #ff7d691b;
  border: 1px solid #ff7e69;
  border-radius: 0.5rem;

  font-size: 1.2rem;
  font-family: 'Georgia', sans-serif;
  color: #ff7e69;

  cursor: pointer;
}

.signup_signupButton:hover {
  background-color: #ff7d6980;
  color: white;
}

.signup_loginButton {
  border: 0;
  background-color: #ffffff00;

  font-size: 1rem;
  font-family: 'Georgia', sans-serif;
  color: #ff7e69;
}

.signup_loginButton:hover {
  text-decoration: underline;
}

.aboutLink {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 1.1rem;
  font-family: 'Georgia', sans-serif;
  color: black;

  cursor: pointer;
}

.aboutLink:hover {
  text-decoration: underline;
}